<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/Account.css">
</head>

<body>
    {{> _header}}
   <div class="container">
       <div class="main">
           <div class="topbar">
              <a href="">logout</a>
              <a href="">Support</a>
              <a href="">work</a>
              <a href="">Home</a>

           </div>
           <div class="row">
             <div class="col-md-4 mt-1">
                 <div class="card text-center sidebar">
                   <div class="card-body">
                     <img src="flipr.jpg" class="rounded-circle" width="150">
                     <div class="mt-3">
 					     <h3>Flipr</h3>
                         
                    </div>
                  </div>
                </div>
             </div>
             <div class="col-md-8 mt-1">
                  <div class="card mb-3 content">
                     <h1 class="a-3 pt-3">About</h1>
                     <div class="card-body">
                          <div class="row">
                             <div class="col-md-3">
                               <h5>Startup Name</h5>
                             </div>
                             <div class="col-md-9 text-secondary">
                                 Flipr
                             </div>
                         </div>
                         <hr>
                         <div class="row">
                            <div class="col-md-3">
                              <h5>Startup Email</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                               flipr@gmail.com
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                           <div class="col-md-3">
                                <h5>Startup CIN</h5>
                           </div>
                           <div class="col-md-9 text-secondary">
                              L21091KA2019OPC1413331
                           </div>
                        </div>
                        <hr>
                        <div class="row">
                             <div class="col-md-3">
                                  <h5>Startup stage</h5>
                             </div>
                             <div class="col-md-9 text-secondary">
  							      Early Traction
                             </div>
                         </div>
						 <hr>
                        <div class="row">
                             <div class="col-md-3">
                                  <h5>Startup Nature</h5>
                             </div>
                             <div class="col-md-9 text-secondary">
  							      Partnership Firm
                             </div>
                         </div>
						 <hr>
                        <div class="row">
                             <div class="col-md-3">
                                  <h5>Startup Website Link</h5>
                             </div>
                             <div class="col-md-9 text-secondary">
  							      <a href="https://play.google.com/store/apps/details?id=com.goflipr.flipr&hl=en_IN&gl=US ">flipr</a>
                             </div>
                         </div> 
						 <hr>
                        <div class="row">
                             <div class="col-md-3">
                                  <h5>Startup Details</h5>
                             </div>
                             <div class="col-md-9 text-secondary">
  							       We are a smart water management company and have a 
                                  unique approach towards managing water resources.
                             </div>
                         </div>
						 <hr>
                        <div class="row">
                             <button type="button">Add Project</button>
                         </div>
                     </div>
                 </div>
                 
               </div>
           </div>

           <h1>INTERNS APPLIED</h1>
    <table class="content-table">
        <thead>
            <tr>
                <th>Intern</th>
                <th>Email</th>
                <th>Department</th>
                <th>Date of Application</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>mark@gmail.com</td>
                <td>Aeronautical Engineering</td>
                <td>23-02-2021</td>
                <td>Accepted</td>
            </tr>
            <tr>
                <td>Robert</td>
                <td>robert@gmail.com</td>
                <td>Automobile Engineering</td>
                <td>13-01-2021</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>John</td>
                <td>john@gmail.com</td>
                <td>Information Technology</td>
                <td>21-03-2021</td>
                <td>Rejected</td>
            </tr>
        </tbody>
    </table>
	        <h1>INVESTORS APPLIED</h1>
    <table class="content-table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Company Email</th>
                <th>Company Type</th>
                <th>Date of Application</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Barclays Capital</td>
                <td>barclays@gmail.com</td>
                <td>CS/IT</td>
                <td>23-02-2021</td>
                <td>Accepted</td>
            </tr>
            <tr>
                <td>UITs</td>
                <td>uit@gmail.com</td>
                <td>Income Funds Investment</td>
                <td>13-01-2021</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>Credit Suisse</td>
                <td>creditsuisse@gmail.com</td>
                <td>Wealth management firm</td>
                <td>21-03-2021</td>
                <td>Rejected</td>
            </tr>
        </tbody>
    </table>
	 	        
       </div>
    </div>
</body>
</html>