<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/Account.css">
</head>

<body>
    {{> _header}}
   <div class="container">
       <div class="main">
           </div>
           <div class="row">
             <div class="col-md-4 mt-1">
                 <div class="card text-center sidebar">
                   <div class="card-body">
                       <img src="/images/broker.png" class="rounded-circle" width="150">
                     <div class="mt-3">
                         <a href="">Investor Account</a>
                    </div>
                  </div>
                </div>
             </div>
             <div class="col-md-8 mt-1">
                  <div class="card mb-3 content">
                     <h1 class="a-3 pt-3">About</h1>
                     <div class="card-body">
                          <div class="row">
                             <div class="col-md-3">
                               <h5>Company Name</h5>
                             </div>
                             <div class="col-md-9 text-secondary">
                                 {{compName}}
                             </div>
                         </div>
                         <hr>
                         <div class="row">
                            <div class="col-md-3">
                              <h5>Email</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                               {{compEmail}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                           <div class="col-md-3">
                                <h5>Company Type</h5>
                           </div>
                           <div class="col-md-9 text-secondary">
                              {{compType}}
                           </div>
                        </div>
                        <hr>
                        
                     </div>
                 </div>
                 {{!-- <div class="card mb-3 content">
                      <h1 class="m-3">Recent Projects</h1> 
					  <div class="card-body">
                         <div class="row">
                            <div class="col-md-3">
                                 <h5>Project Name</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                Project Description
                            </div>
                          </div>
                      </div>
                   </div> --}}
               </div>
           </div>
           <br><br>
           <h1>Invested Startups</h1>
    <table class="content-table" id="content-table">
        <thead>
            <tr>
                <th>Startup</th>
                <th>Email</th>
                <th>Startup Nature</th>
                <th>Date of Investing</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Flipr</td>
                <td>Flipr@gmail.com</td>
                <td>Designer</td>
                <td>12-02-2021</td>
            </tr>
            <tr>
                <td>Brokers on the Bay</td>
                <td>brokerb@gmail.com</td>
                <td>Backend Developer</td>
                <td>13-02-2021</td>
            </tr>
            <tr>
                <td>Esurfer</td>
                <td>esurf@gmail.com</td>
                <td>Designer</td>
                <td>12-02-2021</td>
            </tr>
        </tbody>
    </table><br><br>
       </div>
    </div>
    
</body>
</html>