<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="login_form_styles.css">
</head>

<body>
    <div class="container">
    <div class="center">
        <h1>Login</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" placeholder=" " id="Email" pattern="^[a-z0-9\._]+@[a-z]+(\.[a-z]+)+$" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" placeholder=" " required>
                <span></span>
                <label>Password</label>
            </div>
            <button type="button" onclick="check()"><a href="./cards.html">Login</a></button>
            <div class="signup_link">
            Not a member? signup as:<a href="./Signup/signup_investor.html"> Investor</a> or <a href="./Signup/signup_startup.html"> Startup</a> or <a href="./Signup/signup_intern.html"> Intern</a>
            </div>
        </form>
    </div>
    </div>
       <script>
        function check() {
            var emailPatt = new RegExp(/^[a-z0-9\._]+@[a-z]+(\.[a-z]+)+$/gm);
            var ip_email = document.getElementById("Email").value;
            var res2 = emailPatt.test(ip_email);
            if (res2 == false) {
                alert("Enter valid Email");
            }
            else{
            alert("Login Successful");
            }
        }
    </script>
</body>

</html>
