<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login_form_styles.css">
</head>

<body>
<<<<<<< HEAD
    <div class="container-login">
=======
    {{> _err}}
    <div class="container">
>>>>>>> completed
    <div class="center">
        <h1>Login</h1>
        <form action="/loginForm/login" method="post">
            <div class="txt_field">
                <input type="text" placeholder=" " id="Email" pattern="^[a-z0-9\._]+@[a-z]+(\.[a-z]+)+$" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" placeholder=" " name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" onclick="check()" value="Login"><br>
            <div class="signup_link">
            Not a member? signup as:<a href="signup/signup_investor"> Investor</a> or <a href="/signup/signup_startup"> Startup</a> or <a href="/signup/signup_intern"> Intern</a>
            </div>
        </form>
    </div>
    </div>
       <script>
        function check() {
            var emailPatt = new RegExp(/^[a-z0-9\._]+@[a-z]+(\.[a-z]+)+$/gm);
            var ip_email = document.getElementById("Email").value;
            var res2 = emailPatt.test(ip_email);
        }
    </script>
</body>

</html>