body{
    margin:0;
    padding:0;
    font-family:Arial;
    background-color: #1CADA0;
    background-image:url("cover_startup.jpeg");
    background-position:center;
    background-size: cover;
}
.container{
    position:absolute;
    background-color: black;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.center{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:white;
    border-radius: 10px;
    width:500px;
}
.center h1{
    text-align:center;
    padding:0 0 20px 0;
    border-bottom:1px solid grey;
}
.center form{
    padding:0 20px;
    box-sizing: border-box;
}
form .txt_field{
    position:relative;
    border-bottom:2px solid #adadad;
    margin:30px 0;
}
.txt_field input{
    width:100%;
    padding: 0 5px;
    height:40px;
    font-size: 16px;
    border:none;
    background: none;
    outline:none;
}
.txt_field label{
    position: absolute;
    top:50%;
    left:5px;
    color:#adadad;
    transform: translateY(-50%);
    font-size:16px;
    pointer-events:none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position:absolute;
    top:40px;
    left:0;
    width:0%;
    height:2px;
    background: #2691d9;
    transition: .5s;
}
.txt_field input:focus ~label,
.txt_field input:not(:placeholder-shown):invalid ~label,
.txt_field input:valid ~label{
    top:-5px;
    color:#2691d9;
}
.txt_field input:focus ~span::before{
    width: 100%;
} 
.txt_field input:valid ~span::before{
    width: 100%;
    background-color: green;
}
 
.text_field input:not(:placeholder-shown):invalid ~span::before {
    width: 100%;
    background-color: red;
}
button{
    width:100%;
    height:50px;
    border:1 px solid;
    background:#2691d9;
    border-radius: 25px;
    font-size:18px;
    color:#e9f4fb;
    font-weight: 700;
    cursor:pointer;
    outline: none;

}
button:hover{
    border-color: #2691d9;
    transition:.5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size:16px;
    color:#666666;
}
.signup_link a{
    color:#2691d9;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}
